/* Estilos gerais */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}
/*
FONTES
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;


*/
img{
  max-width: 100%;
}

.btn {
  background-color: #db0030;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  border-radius: 10px;
  padding: 8px;
  transition: all 0.1s ease-in;
  display: inline-block;
}
.btn:hover {
  background-color: #9e0022;
}
.titulo {
  font-family: "Poppins", sans-serif;
  font-size: 2.652em;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-align: center;
}
.titulo::after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 2px;
  width: 100px;
  background: #000;
}
.subtitulo{
  font-family: "Poppins", sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  margin: 16px 0;
}
.subtitulo::after {
  content: "";
  display: block;
  margin: 8px auto 0 auto;
  height: 2px;
  width: 80px;
  background: #000;
}


.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}

/* estilos sub header */
.sub-header {
  max-width: 100%;
  padding: 5px 0;
  background-color: #0d0054;
}
.sub-header-container {
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.sub-header-container a {
  color: #fff;
}
.sub-header-container ul li {
  display: inline-block;
}
.sub-header-container img {
  width: 20px;
  margin-left: 8px;
}

/* header */
.header {
  padding: 16px 0;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.header .logo {
  max-width: 120px;
}
.header .menu li {
  display: inline-block;
  margin-left: 16px;
  font-family: "Poppins", sans-serif;
}
.cool-link {
  padding: 6px 0;
}
.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #db0030;
  transition: width 0.3s;
}
.cool-link:hover::after {
  width: 100%;
}

/* intro */
.intro {
  background: url("../img/bg-intro1.jpg") no-repeat;
  background-size: cover;
  height: 680px;
  display: grid;
  align-items: center;
}
.intro-content {
  display: grid;
  grid-template-columns: 600px;
  justify-content: end;
  justify-items: end;
}
.intro h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  color: #fff;
  line-height: 1.3;
  margin-bottom: 8px;
}
.intro h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.25em;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.intro p {
  max-width: 400px;
  color: #fff;
  font-size: 1.375em;
  margin-bottom: 32px;
  line-height: 1.4;
}

/* beneficios */
.beneficios {
  padding: 60px 10px;
}
.beneficios-itens{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, auto));
  gap: 20px;
  margin: 36px 0 64px 0;
  text-align: center;
}
.beneficios-item{
  padding: 20px;
}
.beneficios-item img{
  max-width: 60px;
}
.beneficios-item p{
  max-width: 240px;
  margin: 0 auto;
}
.beneficios-lista{
  display: grid;
  grid-template-columns: minmax(300px, 480px) 1fr 1fr;
  gap: 30px;
  align-items: center;
}

.beneficios-lista-item{
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0;
  border-radius: 20px;
  min-height: 220px;

}
.beneficios-lista-item img{  
  max-width: 60px;
  margin-bottom: 16px;
}
.beneficios-lista-item + .beneficios-lista-item{
  margin-top: 30px;
}
.beneficios-lista-item p{
  font-family: 'Poppins', sans-serif;
  font-size: 1.25em;
  color: #ABA7B0;
  margin-bottom: 26px;
}
.beneficios-lista-item span{
  font-weight: bold;
  font-size: 1.75em;
  color: #000;
}
.beneficios-lista-item3{
  min-height: 470px;
}
.beneficios-lista-item3 p{
  color: #433F4D;
}
.beneficios-lista-item ul li{
  font-family: 'Poppins', sans-serif;
  font-size: 1.25em;
  color: #ABA7B0;
  margin-bottom: 26px;
  color: #ABA7B0;
}
.beneficios-lista-item ul li::after{
  content: "";
  display: block;
  height: 3px;
  width: 190px;
  background: #EEEBF2;
  margin: 0 auto 10px auto;
}
.beneficios-lista-item ul li:last-child{
  margin-bottom: 54px;
}
.div-btn{
  text-align: center;
  margin-top: 42px;
}


.precos{
  background: url(../img/br-percos.png) no-repeat center;
  background-size: cover;
  height: 600px;
}