/* Estilos gerais */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}
/*
FONTES
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;


*/
img {
  max-width: 100%;
}

.btn {
  background-color: #db0030;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  border-radius: 10px;
  padding: 8px;
  transition: all 0.1s ease-in;
  display: inline-block;
}
.btn:hover {
  background-color: #9e0022;
}
.titulo {
  font-family: "Poppins", sans-serif;
  font-size: 2.652em;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-align: center;
}
.titulo::after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 3px;
  width: 100px;
  background: #000;
}
.subtitulo {
  font-family: "Poppins", sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  margin: 16px 0;
}
.subtitulo::after {
  content: "";
  display: block;
  margin: 8px auto 0 auto;
  height: 2px;
  width: 80px;
  background: #000;
}
@media (max-width: 769px) {
  .titulo {
    font-size: 1.62em;
  }
}

/* estilos sub header */
.sub-header {
  max-width: 100%;
  padding: 5px 0;
  background-color: #0d0054;
}
.sub-header p,
a {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 0.875em;
  transition: all 0.1s ease-in;
}
.sub-header a:hover {
  color: #bf0029;
}
.sub-redes-sociais li {
  display: inline-block;
  margin-left: 10px;
  float: right;
}
.sub-redes-sociais img {
  width: 20px;
}
@media (max-width: 769px) {
  .sub-header p {
    font-size: 0.758em;
  }
  .sub-header a,
  .sub-header ul {
    display: none;
  }
}

/* header */
.header {
  padding: 16px 0;
}
.header .logo {
  max-width: 120px;
}
.header .menu {
  margin-top: 28px;
  text-align: right;
}
.header .menu li {
  display: inline-block;
  margin-left: 16px;
  font-family: "Poppins", sans-serif;
}
.cool-link {
  padding: 6px 0;
  color: #000;
  font-size: 1em;
  letter-spacing: 0.05em;
}
.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #db0030;
  transition: width 0.3s;
}
.cool-link:hover::after {
  width: 100%;
}
@media (max-width: 769px) {
  .header .logo img {
    max-width: 80px;
  }
  .menu {
    /* Adicionar o menu Hambuger */
    display: none;
  }
}

/* intro */
.intro {
  background: url("../img/bg-into2.jpg") no-repeat center;
  background-size: cover;
  height: 580px;
}
.intro-conteudo {
  float: right;
  margin-top: 15%;
}
.intro h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  color: #fff;
  line-height: 1.3;
  margin-bottom: 8px;
}
.intro h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.25em;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  padding-right: 10px;
}
.intro p {
  max-width: 400px;
  color: #fff;
  font-size: 1.375em;
  margin-bottom: 32px;
  line-height: 1.4;
}
@media (max-width: 769px) {
  .intro {
    background: url("../img/bg-into-mobile.jpg") no-repeat;
    height: 500px;
  }
  .intro-conteudo {
    float: none;
    margin-top: 30%;
    text-align: center;
  }
  .intro h1 {
    font-size: 1.375em;
  }
  .intro h2 {
    font-size: 1.625em;
  }
  .intro p {
    font-size: 1.125em;
  }
}

/* beneficios */
.beneficios {
  padding: 60px 10px;
}
.beneficios-item {
  text-align: center;
  padding: 20px;
  margin-top: 36px;
  margin-bottom: 46px;
}
.beneficios-item img {
  width: 70px;
}
.beneficios-item p {
  line-height: 1.4;
}
.beneficios-lista-item {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 20px;
  border-radius: 20px;
}
.beneficios-lista-item + .beneficios-lista-item {
  margin-top: 30px;
}
.beneficios-img {
  margin-top: 12px;
  max-width: 600px;
}
.beneficios-img img {
  border-radius: 20px;
}
.beneficios-lista-item img {
  width: 60px;
}
.beneficios-lista-item p {
  font-family: "Poppins", sans-serif;
  color: #aba7b0;
  margin: 26px 10px;
}
.beneficios-lista-item span {
  font-weight: bold;
  font-size: 1.175em;
  color: #000;
}
.beneficios-lista-item ul li {
  font-family: "Poppins", sans-serif;
  color: #aba7b0;
  margin-bottom: 26px;
  color: #aba7b0;
}
.beneficios-lista-item ul li::after {
  content: "";
  display: block;
  height: 3px;
  max-width: 190px;
  background: #eeebf2;
  margin: 18px auto 0 auto;
}
.div-btn {
  text-align: center;
  margin-top: 42px;
}
@media (max-width: 769px) {
  .beneficios-lista-item + .beneficios-lista-item {
    margin-top: 0px;
  }
  .beneficios-lista-item {
    margin: 30px 0;
  }
}

/* preços */
.precos {
  width: 100%;
  background: url(../img/br-precos.png) no-repeat center;
  height: 820px;
  background-size: cover;
  margin-top: 40px;
}
.precos .titulo {
  font-size: 2em;
}
.precos p,
.formulario > p {
  max-width: 600px;
  color: #636166;
  line-height: 1.4;
  text-align: center;
  margin: 16px auto 32px auto;
}
.precos-tabela{
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}
.precos-content {
  padding: 120px 0 80px 0;
}
@media (min-width: 1025px) {
  .precos-tabela{
    max-width: 1300px;
  }
  .precos {
    height: 1080px;
  }
}
@media (max-width: 769px) {
  .precos .titulo {
    font-size: 1.575em;

    /*
    
    
    Mudar a tabela de preço
    
    
    */
  }
}

/* Formulario */
.formulario {
  padding: 0 10px 60px 10px;
}
.formulario .subtitulo {
  text-align: center;
  font-size: 2em;
}
.formulario-content img {
  width: 60px;
}
.formulario-item {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 20px;
  border-radius: 20px;
  min-height: 190px;
}
.formulario-item span {
  display: block;
  margin-top: 16px;
  font-family: "Poppins", sans-serif;
  font-size: 1.125em;
}
.formulario-item:first-of-type {
  margin-bottom: 20px;
}
.formulario-item p {
  font-family: "Poppins", sans-serif;
  color: #474747;
  margin: 20px 0 10px 0;
  font-size: 1.125em;
  font-weight: bold;
}
.formulario-item p::after {
  content: "";
  display: block;
  height: 3px;
  max-width: 180px;
  margin: 10px auto;
  background: #eeebf2;
}
.formulario-item a {
  color: #474747;
}
.contato-sociais li {
  margin-top: 5px;
  display: inline-block;
}
.contato-sociais li:nth-child(2) {
  margin: 0 20px;
}
.contato-sociais img {
  width: 20px;
  transition: 100ms ease-in;
}
.contato-sociais img:hover {
  -moz-transform: translate(0px, -5px);
  -webkit-transform: translate(0px, -5px);
  -o-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}
.forn input,
textarea {
  font-family: "Source Sans Pro", sans-serif;

  margin: 0 auto 20px auto;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #aba7b0;
  outline: none;
  color: #000;
  font-size: 1.125em;
}
.forn textarea {
  resize: none;
  height: 155px;
  margin-left: 0;
  margin-right: 0;
}

.teste input{
  margin-top: 15px;
  max-width: 100%;
}
.teste label{
  font-family: 'Poppins', sans-serif;
  font-size: .875em;
  margin-left: 2px;
  color: rgb(36, 158, 58);
  font-weight: bold;
}
.forn .btn {
  color: #fff;
}
@media (max-width: 769px) {
  .formulario-item:first-of-type {
    margin-bottom: 0;
  }
  .formulario-item {
    margin: 20px 0;
  }
  .forn input,
  textarea {
    font-size: 0.785em;
  }
}

/* Footer */
.footer {
  padding: 30px 10px;
  background: url(../img/wave@2x.png) no-repeat center;
  background-size: cover;
  height: 300px;
}
.footer-content {
  margin-top: 100px;
  color: rgb(243, 242, 242);
}
.footer-content h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 0.08em;
}
.footer-content h3::after {
  content: "";
  display: block;
  margin: 10px 0;
  height: 2px;
  width: 100px;
  background: rgb(143, 143, 143);
}
.footer-content p {
  padding-right: 40px;
  line-height: 1.4;
  font-size: 0.875em;
}
.footer-contato li {
  margin-bottom: 8px;
}
.footer-contato a {
  letter-spacing: 0.1em;
  transition: all 0.1s ease-in;
}
.footer-contato a:hover {
  color: #bf0029;
}
.footer-endereço li {
  margin-bottom: 8px;

}
@media (max-width: 769px) {
  .footer {
    padding: 20px 0;
    background: #0d0054 no-repeat center;
    background-size: cover;
    height: 100%;
  }
  .footer-content h3 {
    font-size: 1em;
  }
  .footer-content {
    margin-top: 0;
  }
  .footer-content div {
    margin-bottom: 30px;
  }
}

/*********

Pagina sobre

**********/
.sobre .titulo {
  font-size: 1.75em;
  max-width: 650px;
  margin: 40px auto 80px auto;
  color: #433f4d;
  font-weight: normal;
}
.sobre .titulo::after {
  background: #433f4d;
}
.sobre-item {
  margin-bottom: 36px;
}
.sobre h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.375em;
  letter-spacing: 0.05em;
  color: #433f4d;
}
.sobre h2::after {
  content: "";
  display: block;
  height: 2px;
  width: 80px;
  background: #433f4d;
  margin: 4px 0 8px 0;
}
.sobre-item p {
  max-width: 350px;
  line-height: 1.4;
  color: #6a6363;
}
.equipe h2{
  margin-bottom: 42px;
}
@media (max-width: 769px) {
  .sobre .titulo {
    font-size: 1.375em;
  }
  .sobre h2 {
    font-size: 1.25em;
  }
  .equipe h2{
    margin-bottom: 16px;
  }
}
